{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <div class="mt-4">
        <h3>{{ title_name }}</h3>
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="title" id="title" value="{{ title_name }}">
            <textarea class="form-control col-7 mb-4" rows="15" name="content" id="content" rows="3">{{ content }}</textarea>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>  
{% endblock %} 
